#root {
    height: 100%;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    background-color: #f2f2f2;
    width: stretch;
    flex-direction: column;
    display: flex;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;

}

.App-header {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 2vmin;
    color: white;
    background-color: #813524;
    align-content: center;
    border-bottom: solid 2px #808080;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.App-header-text {
    display: flex;
    font-size: 32px;
    align-self: flex-end;
    padding-left: 10px;
}

.App-header-logo {
    margin: 10px;
    margin-bottom: 0px;
    fill: white;
}

.App-body {
    display: inline;
    font-size: 2vmin;
    width: 80%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    color: #000000;
}

.App-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: #813524;
    text-align: center;
    font-size: 24px;
    color: #fff;
    align-content: center;
    border-top: solid 2px #808080;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.App-footer-logo {
    margin: 10px;
    fill: white;
    width: 4vh;
    height: 4vh;
    border-radius: 100%;
    transition: 0.4s;
}

.App-footer-logo:hover {
    fill: #813524be;
    background-color: white;
}

.game-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding: 5px;
    min-height: 800px;
    font-size: 18px;

}

.game-header {
    font-size: 24px;
    margin-bottom: 10px;
}

.game-instructions {
    margin-bottom: 10px;
    font-size: 20px;
}

.game-new {
    font-size: 24px;
}

.listContainer {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}


.frameContainer {
    width: 90%;
    float: left;
    border: solid 1px;
    background-color: white;
    min-height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 2px;
}

.frameContainer:hover {
    border-bottom-color: #813524;
}

.listCell:nth-child(-n+5) {
    width: 20%;
    margin-bottom: 10px;

}

.listCell:nth-child(n+5) ~ .listCell {
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.frameContainerTopBar {
    text-align: right;
    margin: 1px;
}

.frameContainerCell {
    background-color: white;
}

.listCell:hover {
    color: #813524;
}

.frameContainerBottomBar {
    margin-top: 5px;
    font-size: 20px;
}

input {
    border-top: none;
    border-right: none;
    border-left: none;
    margin-right: 10px;
    min-width: 25%;
    font-size: 24px;
}

input:hover {
    border-bottom-color: #813524;
}

input:focus {
    outline-color: #813524;
    border: none;
}
 
button {
    min-width: 15%;
    font-size: 24px;
    margin-right: 10px;
    border-radius: 4px;
    border-width: 0.5px;
    transition: 0.5s;
    background-color: white;
}

button:disabled {
    color: black;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: darkgrey;
}

button:hover {
    background-color: #813524;
    color: white;
}